In [5]:
import pandas as pd
import numpy as np

In [10]:
# word_count.sort_values('tf-idf',ascending=False).head(50)[word_count['idf']>3.2][word_count['tf-idf'] * (len(all_data)/len(globals()[a]))>220]
# words

df1 = pd.read_csv('금이산농원_복숭아와인(전처리).csv',encoding='utf-8-sig')
df1

   Unnamed: 0    단어      tf-idf       idf
0        2852    선물  266.755668  3.340776
1        2403   복숭아  185.359512  4.396061
2        5828     향  165.119269  3.861491
3        1089    달달  107.043219  3.423436
4        4739  좋아하다   99.197884  3.658846
5        5230    친구   88.894037  4.404934
6        1736  만족하다   51.410156  4.492431
7        3777   예쁘다   49.561407  5.421449
8        2445  부드럽다   49.429024  4.390774

복숭아 향이 좋은, 선물용, 달달, 예쁘다

In [6]:
# word_count.sort_values('tf-idf',ascending=False).head(50)[word_count['idf']>3.3][word_count['tf-idf'] * (len(all_data)/len(globals()[a]))>200]

df2 = pd.read_csv('덕유양조_산머루주(전처리).csv',encoding='utf-8-sig')
df2

   Unnamed: 0    단어     tf-idf       idf
0        1861    머루  55.344049  5.898373
1        1089    달달  23.506519  3.423436
2        1736  만족하다  20.153830  4.492431
3         577    기대  20.123162  5.107034
4        5826     향  18.253928  3.861491
5        2851    선물  18.096572  3.340776
6        4738  좋아하다  17.454491  3.658846
7        4906   진하다  12.793350  5.604756

달달, 진한 머루향 , 선물용

In [8]:
#word_count.sort_values('tf-idf',ascending=False).head(50)[word_count['idf']>3.8][word_count['tf-idf'] * (len(all_data)/len(globals()[a]))>220]


df3 = pd.read_csv('컨츄리와인_영동포도와인(전처리).csv',encoding='utf-8-sig')
df3

    Unnamed: 0    단어     tf-idf       idf
0         5821     향  19.697475  3.861491
1         2442  부드럽다  18.931232  4.390774
2         1121  달콤하다  17.264790  4.482751
3         2315     병  16.140421  3.891971
4         1734  만족하다  12.235382  4.492431
5         5573    포도  12.060425  5.487631
6         5159    추천  11.112960  4.699173
7         4206   이쁘다  11.107603  5.487631
8         1948     목  10.537132  4.725841
9          872    넘김  10.427628  4.733240
10        5223    친구   9.967501  4.404934
11        2488   분위기   9.957955  5.793012

부드럽다, 달콤하다, 향이 좋은(포도 향이 진함), 분위기내기

In [9]:
# word_count.sort_values('tf-idf',ascending=False).head(50)[word_count['idf']>3.3][word_count['tf-idf'] * (len(all_data)/len(globals()[a]))>160]

df4 = pd.read_csv('산내들_소백산스위트와인(전처리).csv',encoding='utf-8-sig')
df4

    Unnamed: 0    단어      tf-idf       idf
0         1086    달달  220.849364  3.423436
1         1120  달콤하다  112.764475  4.482751
2         1085    달다   99.683716  4.422920
3         2846    선물   88.172385  3.340776
4         4729  좋아하다   75.942173  3.658846
5         1733  만족하다   75.074262  4.492431
6         2440  부드럽다   53.025395  4.390774
7         5816     향   51.752555  3.861491
8         2313     병   41.536231  3.891971
9          872    넘김   34.218988  4.733240
10        5568    포도   34.188982  5.487631

달콤하다, 부드러운 목넘김

In [12]:
# word_count.sort_values('tf-idf',ascending=False).head(50)[word_count['idf']>4.3][word_count['tf-idf'] * (len(all_data)/len(globals()[a]))>130]

df5 = pd.read_csv('배상면주가_빙탄복(전처리).csv',encoding='utf-8-sig')
df5

    Unnamed: 0    단어      tf-idf       idf
0         5359    탄산  188.518848  4.304935
1         3106  스파클링  156.030861  4.590469
2         2388   복분자  141.523894  4.657012
3         1730  만족하다  118.355702  4.492431
4         4523  적당하다  101.473983  4.565044
5         3149  시원하다   98.895790  4.991651
6         2434  부드럽다   83.079966  4.390774
7         5205    친구   81.400793  4.404934
8         1282    도수   76.771821  4.592617
9          637  깔끔하다   67.086394  4.941641
10        4115   음료수   61.412136  5.552871

탄산, 스파클링, 음료수 같이 가벼운 술